@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold.ttf");
  src: url("../fonts/OpenSans-Bold.eot?iefix") format("eot"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansSemyBold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
  src: url("../fonts/OpenSans-SemiBold.eot?iefix") format("eot"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?iefix") format("eot"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DMSansSemyBold";
  src: url("../fonts/DMSans-Bold.ttf");
  src: url("../fonts/DMSans-Bold.eot?iefix") format("eot"), url("../fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DMSansRegular";
  src: url("../fonts/DMSans-Regular.eot");
  src: url("../fonts/DMSans-Regular.eot?iefix") format("eot"), url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf");
  src: url("../fonts/Roboto-Bold.eot?iefix") format("eot"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto-Light.ttf");
  src: url("../fonts/Roboto-Light.eot?iefix") format("eot"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@-webkit-keyframes downUp {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes downUp {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes rightLeft {
  0% {
    transform: translateX(0%) rotate(-90deg);
  }
  50% {
    transform: translateX(100%) rotate(-90deg);
  }
  100% {
    transform: translateX(0%) rotate(-90deg);
  }
}
@keyframes rightLeft {
  0% {
    transform: translateX(0%) rotate(-90deg);
  }
  50% {
    transform: translateX(100%) rotate(-90deg);
  }
  100% {
    transform: translateX(0%) rotate(-90deg);
  }
}
@-webkit-keyframes changeColor {
  0% {
    color: #fff;
  }
  50% {
    color: #FBD784;
  }
  100% {
    color: #FBD784;
  }
}
@keyframes changeColor {
  0% {
    color: #fff;
  }
  50% {
    color: #FBD784;
  }
  100% {
    color: #FBD784;
  }
}
@-webkit-keyframes changeFill {
  0% {
    fill: #fff;
  }
  50% {
    fill: #FBD784;
  }
  100% {
    fill: #FBD784;
  }
}
@keyframes changeFill {
  0% {
    fill: #fff;
  }
  50% {
    fill: #FBD784;
  }
  100% {
    fill: #FBD784;
  }
}
@media (max-width: 1000px) {
  body.body-lock {
    overflow: hidden;
  }
  body.body-lock .background-burger {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
  }
  .burger {
    position: absolute;
    right: 10%;
    z-index: 20;
  }
  .burger__span {
    width: 50px;
    height: 4px;
    background: #fff;
    display: block;
    position: relative;
  }
  .burger__span:before, .burger__span:after {
    content: "";
    width: 50px;
    height: 4px;
    background: #fff;
    display: block;
    position: absolute;
  }
  .burger__span:before {
    top: 8px;
  }
  .burger__span.active:before {
    transform: rotate(45deg);
  }
  .burger__span:after {
    top: 16px;
  }
  .burger__span.active:after {
    transform: rotate(-45deg);
    top: 10px;
  }
  .burger__span.active {
    background: transparent;
  }
  .nav.active {
    display: block;
  }
  .nav.active {
    display: block;
    position: absolute;
    right: 10%;
    top: 50%;
  }
  .nav.active .menu__ul {
    flex-direction: column;
  }
  .nav.active .list__item {
    margin: 20px 50px 20px 50px;
  }
  .nav.active .list__item .list-link {
    font-size: 25px;
  }
  .nav.active {
    text-align: right;
    width: 100%;
    height: 200%;
    z-index: 7;
    position: absolute;
    background: rgba(0, 0, 0, 0.63);
  }
}
body {
  width: 100%;
  color: #fff;
}

a {
  color: #fff;
}

.page {
  font-family: "OpenSansRegular";
  width: 100%;
}

.wraper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  background: #000;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header__wraper {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 64px 84px 164px 84px;
}

@media (max-width: 1000px) {
  .header__wraper {
    flex-direction: column;
  }
}
.logo a {
  font-size: 24px;
  font-family: "OpenSansBold";
  text-transform: uppercase;
}

.menu {
  display: flex;
}

@media (max-width: 1000px) {
  .nav {
    display: none;
  }
}
.menu__ul {
  display: flex;
}

.list__item {
  margin: 0px 50px 0px 50px;
}

.list-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  transition: color 0.5s ease 0.5s;
}

.list__item:hover .list-link {
  -webkit-animation: changeColor 0.3s ease 0.2s forwards;
          animation: changeColor 0.3s ease 0.2s forwards;
}

.header__serch {
  display: flex;
}

.sprite-search {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  cursor: pointer;
}

.header__serch h3 {
  font-size: 17px;
  line-height: 1.4;
  color: #FFFFFF;
  margin: 0px 14px 0px 14px;
  cursor: pointer;
}

.header__serch:hover h3 {
  -webkit-animation: changeColor 0.3s ease 0.2s forwards;
          animation: changeColor 0.3s ease 0.2s forwards;
}

.header__serch:hover .sprite-search {
  -webkit-animation: changeFill 0.3s ease 0.2s forwards;
          animation: changeFill 0.3s ease 0.2s forwards;
}

.search {
  width: 0;
  background: transparent;
  font-size: 20px;
}

.search:focus {
  border: solid 1px black;
  border-radius: 10px;
  width: 100%;
}

._container {
  width: 100%;
  max-width: 1461px;
  margin: 0 auto;
}

.discover {
  width: 100%;
  background: url(../img/head/Background.jpg);
  background-blend-mode: hard-light;
  background-position: center;
  background-size: cover;
}

.discover__content {
  margin: 285px auto 1025px auto;
}

.discover__content .content {
  margin: 0 auto;
}

.background-discover {
  margin: -380px auto 0px auto;
  max-width: 100%;
  background-image: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
  height: 380px;
}

.discover__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.title__subtitle {
  margin: 0px 0px 32px 0px;
}

.subtitle {
  color: #FFC178;
  font-family: "OpenSansBold";
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.subtitle::before {
  display: inline-block;
  content: "";
  background: #FFC178;
  width: 72px;
  height: 2px;
  margin-right: 24px;
  margin-bottom: 5px;
}

.title__discover {
  margin: 0px 0px 125px 0px;
}

.discover-text {
  font-family: "OpenSansBold";
  font-size: calc(45px + 51 * ((100vw - 320px) / 1141));
  line-height: 1.04;
}

.title-text {
  font-size: calc(35px + 53 * ((100vw - 320px) / 1141));
  line-height: 1.14;
}

.title__link {
  text-align: center;
  transition: color 0.5s ease 0.5s;
}

.discover .title__link {
  margin: 0 auto;
  max-width: 200px;
}

.white {
  color: #fff;
}

.discover .title__link:hover .link-title {
  color: #FFA343;
  transition: color 0.5s ease 0.5s;
}

.link-title {
  font-family: "OpenSansBold";
  font-size: 18px;
  line-height: 1.4;
}

.sprite-arrow {
  fill: #fff;
  width: 20px;
  height: 20px;
  transition: fill 0.5s ease 0.5s;
}

.discover .title__link:hover .sprite-arrow {
  fill: #FFA343;
  -webkit-animation: downUp 1s ease 0.2s infinite;
          animation: downUp 1s ease 0.2s infinite;
}

.follow-us__content {
  position: absolute;
  left: 0;
  top: 22%;
  transform: rotate(90deg);
  margin-left: 54px;
  display: flex;
}

@media (max-width: 1000px) {
  .follow-us__content {
    transform: rotate(0deg);
    display: flex;
    position: relative;
    margin: 0 auto;
  }
}
.follow-us__content h4 {
  font-family: "OpenSansSemyBold";
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-right: 22px;
}

.social-link {
  display: block;
}

.social-link:not(:last-child) {
  margin-right: 22px;
}

.sprite-social {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: fill 0.5s ease 0.5s;
}

.social-link:hover .sprite-social {
  fill: #FFA343;
  transition: fill 0.5s ease 0.5s;
}

.enjoy__content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .enjoy__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -200px 0px 250px 0px;
  }
  .enjoy__image img {
    margin-right: 232px;
  }
}
.enjoy__image {
  max-width: 100%;
}

.enjoy__image img {
  width: 598px;
  max-width: 100%;
}

.enjoy__image {
  margin: 0px 0px 30px 0px;
}

.enjoy__content .content {
  max-width: 635px;
  flex: 0 1 40%;
}

.enjoy__content .content .title-main {
  margin: 0px 0px 27px 0px;
}

.enjoy__content .content .title-text {
  font-size: calc(30px + 34 * ((100vw - 320px) / 1141));
  font-weight: 700;
}

.enjoy__content .content .content__description {
  margin: 0px 0px 30px 0px;
}

.paragraph-description {
  line-height: 1.8;
  font-size: 18px;
  font-family: "OpenSansBold";
}

.yellow {
  color: #FBD784;
  margin: 0px 14px 0px 0px;
  transition: fill 0.5s ease 0.5s;
}

.yellow-title:hover .link-title {
  color: #fff;
  transition: color 0.5s ease 0.5s;
}

.rotate-yellow {
  fill: #FBD784;
  width: 20px;
  height: 20px;
  transition: fill 0.5s ease 0.5s;
  transform: rotate(-90deg);
}

.yellow-title:hover .rotate-yellow {
  fill: #fff;
  -webkit-animation: rightLeft 1s ease 0.2s infinite;
          animation: rightLeft 1s ease 0.2s infinite;
}

.enjoy__content .content .title__link {
  text-align: start;
}

.steps {
  margin: 0px auto 227px auto;
}

.slider {
  width: 100%;
}

.slider__item {
  position: relative;
  max-width: 100%;
}

.slider__item img {
  width: 100%;
  max-width: 100%;
}

.slider-content {
  width: 100%;
  position: absolute;
  bottom: 0%;
  padding: 0px 115px 19px 115px;
}

.slider-content .subtitle::after {
  display: inline-block;
  content: "";
  background: #FFC178;
  width: 72px;
  height: 2px;
  margin-left: 24px;
  margin-bottom: 5px;
}

.slider__item .content__title {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.slider__item .title-text {
  line-height: 1.4;
  font-size: calc(30px + 34 * ((100vw - 320px) / 1141));
  font-family: "OpenSansSemyBold";
}

.slider__item .content__description {
  margin: 27px 0px 40px 0px;
}

@media (max-width: 767px) {
  .slider-content {
    padding: 0px 25px 0px 25px;
  }
  .slider__item .content__description {
    margin: 5px 0px 10px 0px;
  }
  .slider__item .title-text {
    line-height: 1;
  }
  .slider__item .paragraph-description {
    line-height: 1.2;
    font-family: "OpenSansRegular";
  }
  .slider__item .title__subtitle {
    margin: 0px 0px 15px 0px;
  }
}
.culture .enjoy__content {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 0;
}

@media (min-width: 1000px) {
  .culture .enjoy__content {
    flex-direction: row-reverse;
  }
  .culture .enjoy__image img {
    margin-right: 0;
    margin-left: 232px;
  }
}
.get-started {
  border-bottom: 1px solid rgba(255, 255, 255, 0.308);
}

.footer__get-started {
  margin-bottom: 56px;
}

.get-srated__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

@media (min-width: 1000px) {
  .get-srated__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 0px 47px 0px;
  }
}
.get-srated__logo {
  margin-top: 12px;
}

.link-log {
  font-family: "OpenSansBold";
  font-size: 48px;
}

.get-started__link {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .get-started__link {
    flex-direction: column;
  }
}
.get-started__link-title {
  margin-right: 56px;
}

.get-started__link-title h3 {
  font-family: "DMSansRegular";
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: -0.3px;
}

.btn-link {
  width: 240px;
  height: 70px;
  background: #FFA343;
  border-radius: 8px;
  padding: 24px 70px;
}

.get-started__link a {
  display: block;
  margin: 0 auto;
  color: #000;
  text-align: center;
  font-size: 17px;
  font-family: "DMSansSemyBold";
}

.footer__vacation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 107px 0px;
  flex-wrap: wrap;
}

.vacation__request {
  max-width: 400px;
  margin: 0px 252px 0px 0px;
  position: relative;
  align-self: flex-start;
}

@media (max-width: 767px) {
  .vacation__request {
    margin: 0 auto;
  }
}
.vacation__request::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.356);
  bottom: 0;
  left: 0;
}

.request__title {
  margin-bottom: 50px;
}

.request__title h2 {
  font-size: 36px;
  font-family: "OpenSansSemyBold";
  line-height: 1.4;
  letter-spacing: -0.3;
}

.form {
  display: flex;
}

.form input {
  padding: 18px 0px 25px 15px;
  font-size: 15px;
  line-height: 1.3;
  font-family: "DMSansRegular";
  background: none;
  flex: 1 1 auto;
}

.form button {
  width: 70px;
  height: 70px;
  background: #FFA343;
  border-radius: 8px 8px 0px 0px;
  position: relative;
}

.form button::before {
  content: "";
  width: 9px;
  height: 9px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  position: absolute;
  transform: rotate(45deg);
  left: 32px;
  top: 32px;
}

.vacation__menu {
  display: flex;
  margin-right: 96px;
  padding: 34px 0px 0px 0px;
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  .vacation__menu {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.menu-footer__item:not(:last-child) {
  margin-right: 185px;
}

.ul-menu__li:first-child {
  font-family: "OpenSansSemyBold";
  font-size: 20px;
  line-height: 0px;
  letter-spacing: -0.23px;
  color: #FFD1A0;
}

.ul-menu__li {
  font-family: "OpenSansRegular";
  font-size: 19px;
  color: #FFFFFF;
  white-space: nowrap;
  cursor: pointer;
}

.ul-menu__li:not(last-child) {
  margin-bottom: 45px;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

@media (min-width: 1000px) {
  .footer__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 156px;
    flex-wrap: wrap;
  }
  .footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.socials__text {
  flex: 1 1 auto;
}

.socials__text a:not(:last-child) {
  margin: 0px 77px 0px 0px;
}

.socials__icons {
  display: flex;
  justify-content: center;
}

.icons {
  display: block;
  width: 25px;
}

.icons:not(:last-child) {
  margin-right: 52px;
}

.sprite {
  width: 28px;
  height: 25px;
  fill: #fff;
}

.icons:hover .sprite {
  fill: #FFA343;
}

.copyright {
  text-align: center;
  margin-bottom: 118px;
}