$bold:'OpenSansBold';
$semyBold:'OpenSansSemyBold';
$regular:'OpenSansRegular';
$dmsBold:'DMSansSemyBold';
$dmsRegular:'DMSansRegular';
$robotoB:'RobotoBold';
$robotoL:'RobotoLight';
$yellow:#FFA343;
$transition-icon: fill 0.5s ease 0.5s;
$transition-color: color 0.5s ease 0.5s;
$linkYeloow:#FBD784;
